<!DOCTYPE html>
<html lang="en">
<title>MTA For Googly Home!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-heart,.fa-cog,.fa-institution {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
    <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-white">About</a>
    <a href="team" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Our Team</a>
   
  </div>

  <!-- Navbar on small screens 
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>-->
</div> 

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">MTA For Googly Home</h1>
  <p class="w3-xlarge">Always Know When and Where</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
     <a href="https://bot.dialogflow.com/a4d396bb-74d3-4cae-b499-07be8ab81e3d" style="color:inherit">Download </a>
  </button>
</header>

<!-- First Grid -->
<div class="w3-auto">
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
        <h1>Technology Overview</h1> <br>
      <img src="/images/techFlow.png" alt="Lights" style = "padding-left:25%">
  </div>
</div>
</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Powered by ~~Javascript~~ uwu</h1>
      <h5 class="w3-padding-32"style= "font-size:20px">The backbone, the rock, the heart of #MTA4GH. Javascript is the thread that runs through our <b>Webhook Dialogflow</b> and <b>Google Action</b> technologies</h5>

    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-heart w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-cog w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Dialogflow</h1>
      <h5 class="w3-padding-32"style= "font-size:20px">The AI-powered, Machine-educated, post-blockchain interface that builds and <b>connects Voice and Text Conversation</b</h5>

    
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Supported by Google Actions</h1>
      <h5 class="w3-padding-32"style= "font-size:20px">Design, build, and distribute fully-customizable conversational Actions across Google</h5>

    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-institution w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Fourth Grid from JSON  -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center" style= "font-size:20px">
       <p> {<br> "ALY": "ALY",<br>
        "ALLEY": "ALY",<br>
        "ALLEE": "ALY",<br>
        "ALLY": "ALY", <br>
        "CTR": "CTR",<br>
        "CENTER": "CTR",<br>
        "CEN": "CTR",<br>
        "CENT": "CTR",<br>
        "CENTR": "CTR",<br>
        "CENTRE": "CTR",<br>
        "CNTER": "CTR",<br>
        "CNTR": "CTR",<br>
        }</p>
    </div>

    <div class="w3-twothird">
      <h1>Parsing Fun and Weirdness</h1>
      <h3 class="w3-padding-32">Using the "recommended official Postal Service standard suffix abbreviations" :)</h5>
     
    
    </div>
  </div>
</div>

<!-- Fifth Grid from JSON  -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Working with the MTA!</h1>
      <h3 class="w3-padding-32">Station ID and Time Formatting Across the Subway System </h5>

    </div>

    <div class="w3-third w3-center"style= "font-size:20px">
        <p>  {<br>
    "Station ID": 407,<br>
    "Complex ID": 407,<br>
    "GTFS Stop ID": 636,<br>
    "Division": "IRT",<br>
    "Line": "Lexington Ave",<br>
    "Stop Name": "Astor Pl",<br>
    "Borough": "M",<br>
    "Daytime Routes": 6,<br>
    "Structure": "Subway",<br>
    "GTFS Latitude": 40.730054,<br>
    "GTFS Longitude": -73.99107<br>
  }</p>
    </div>
  </div>
</div>


<!-- Footer -->
<!--<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer> -->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
